/* @import "/responsive.css"; */
body {
  font-family: "Roboto Slab", serif;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

nav.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
}

.navdiv {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.navbar .image-title {
  display: flex;
  align-items: center;
  width: 100%;
}

.navbar .image-title img {
  width: 48px;
  height: 56px;
  margin-right: 10px;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 44px;
}

.navbar li {
  width: 100%;
  font-weight: 400;
  font-size: 18px;
}

.hamburger-icon {
  font-size: 24px;
  cursor: pointer;
  display: none;
}

.banner-card {
  background-repeat: no-repeat;
  padding: 80px;
  border-radius: 16px;
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("Images/Group13.png");
}

.banner-img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 16px;
  display: flex;
}

.banner-card img {
  max-width: 100%;
  height: auto;
  position: relative;
  display: block;
}

.banner-text {
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 20px;
}

.banner-text h2 {
  font-size: 64px;
  margin-bottom: 5px;
  font-weight: 800;
}

.banner-text p {
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: 400;
  line-height: 26px;
}

.input-container {
  text-align: center;
  background: rgba(146, 135, 135, 0.5);
  padding: 20px;
  border-radius: 8px;
}

.input-field {
  padding: 10px;
  margin: 5px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.find-button {
  padding: 10px;
  margin: 5px;
  background: #ff5400;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.find-button:hover {
  background-color: #ed741d;
}

/*-----Tours Section-----*/

.tours {
  display: flex;
  margin-top: 80px;
  gap: 60px;
}

.section-title {
  font-size: 40px;
  font-weight: 800;
  margin-top: 0px;
}

.tours-content .tours-text {
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.tours-content > ul > li {
  padding: 5px;
}

.tours-content {
  text-align: left;
  padding-left: 10px;
  line-height: 26px;
  font-size: 16px;
  font-weight: 400;
}

.tours-button {
  padding: 10px;
  border-radius: 5px;
  background-color: #ff5400;
  color: white;
  font-weight: 600;
  border: none;
  width: 150px;
  height: 52px;
  margin-left: 5px;
}

.tours-img {
  width: 540px;
  height: 550px;
  flex-shrink: 0;
  border-radius: 16px;
}
/*-----Destination section-----*/

.destination-section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}

.title {
  justify-content: center;
}

.title h3 {
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: 800;
}

.title p {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 400;
}

.destination-img {
  display: grid;
  gap: 20px;
}

.column-1,
.column-2,
.column-3 {
  display: grid;
  grid-template-columns: auto auto auto;
}

.image-container {
  text-align: center;
  position: relative;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.image-name {
  margin: 8px 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: 600;
  font-size: 24px;
}

/*-----Choose Us section-----*/

.choose-us {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
  text-align: left;
}

.title {
  justify-content: center;
  text-align: center;
}

.title h3 {
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: 800;
}

.title p {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 30px;
}

.choose-card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
  gap: 20px;
  align-items: flex-start;
  justify-content: center;
}

.choose-card-container .card {
  border-radius: 8px;
  border: 1px solid #ed741d;
}

.card-1,
.card-2,
.card-3 {
  padding: 30px;
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}

.card-2 {
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}

.card-3 {
  border-radius: 16px;
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
  grid-column: 1 / 3;
  margin-left: 260px;
  width: 580px;
}

/*------News Letter Section----*/

.newsletter {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  align-items: center;
}

.card {
  margin-right: 50px;
  border-radius: 8px;
  border: 1px solid #ed741d;
  padding: 30px;
  margin-bottom: 92px;
  display: flex;
  flex-direction: column;
}

.card-stats {
  font-size: 24px;
  font-weight: 700;
}

.card-title {
  font-size: 16px;
  margin-top: 10px;
}

.divider {
  border-top: 1px solid #ddd;
  margin: 15px 0;
}

.input-container-2 {
  display: flex;
  flex-direction: column;
}

.input-field-2 {
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
}

.subscribe-button {
  padding: 10px;
  background: #ff5400;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
}

.newsletter-img {
  flex: 1;
}

.newsletter-img img {
  width: 670px;
  height: 382px;
}

.save {
  text-align: center;
  color: white;
  border-radius: 16px;
  background: #ff5400;
  width: 325px;
  transform: rotate(-19.628deg);
  position: relative;
  bottom: 155px;
  left: 340px;
}

.save h3 {
  font-size: 24px;
  padding: 10px;
  margin: 0;
}

.save h1 {
  font-size: 44px;
  padding: 0px;
  margin: 0;
}

/* Footer */

footer {
  background: rgba(19, 19, 24, 0.05);
  width: 100%;
  flex: 1;
}

.footer-title {
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 90px;
}

.footer-title h2 {
  margin-left: 10px;
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 20px;
}

.footer-p {
  text-align: center;
  display: block;
  font-size: 16px;
  margin-bottom: 30px;
}

.icons {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.footer-divider {
  width: 1100px;
  margin-top: 22px;
  color: rgba(255, 253, 253, 0.1);
}
/* Responsive*/

/* Media Query for max-width: 576px */
@media (max-width: 576px) {
  body {
    padding: 0;
    width: 375px;
  }

  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .navdiv {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }

  .navbar ul {
    display: none;
    flex-direction: row;
    width: 100%;
    text-align: center;
    background-color: #fff;
  }

  .navbar li {
    margin: 100px 0;
  }

  .hamburger-icon {
    display: flex;
    flex-direction: row;
    margin-top: 0px;
    margin-right: 16px;
  }

  .banner-card {
    padding: 10px;
    margin-left: 0%;
    margin-top: 0;
    max-width: 95%;
  }

  .banner-text h2 {
    font-size: 24px;
    margin-top: 0;
  }

  .banner-text p {
    font-size: 14px;
    margin-bottom: 15px;
    margin-top: 0;
  }

  .input-container {
    padding: 0;
    margin-top: 0;
    align-items: center;
  }

  .input-field {
    width: 100%;
  }

  .tours {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
  }

  .tours-content {
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .tours-img {
    width: 100%;
    height: auto;
  }

  .destination-section {
    flex-direction: column;
    padding: 0;
    text-align: center;
  }

  .image-container {
    text-align: center;
  }

  .title {
    text-align: center;
  }

  .destination-img {
    flex-direction: column;
    margin-bottom: 16px;
  }

  .column-1,
  .column-2,
  .column-3 {
    width: 100%;
    grid-template-columns: 1fr;
    width: 100%;
  }

  .image-name {
    font-size: 24px;
    text-align: center;
  }

  .title {
    width: 100%;
  }

  .choose-card-container {
    flex-direction: column;
    display: flex;
    padding: 0px;
    grid-template-columns: 1fr;
  }

  .card-3 {
    flex-direction: column;
    width: 100%;
    margin: 0%;
    padding: 2px;
  }

  .newsletter {
    flex-direction: column;
    margin: 0;
    padding: 10px;
  }

  .card {
    margin-bottom: 20px;
  }

  .input-container-2 {
    flex-direction: column;
  }

  .newsletter-img {
    margin-bottom: 0;
    max-height: 400px;
  }

  .save {
    text-align: center;
    color: white;
    border-radius: 16px;
    background: #ff5400;
    width: 215px;
    height: 80px;
    transform: rotate(-19.628deg);
    position: relative;
    bottom: 120px;
    left: 135px;
  }

  .save h1 {
    font-size: 24px;
    font-weight: 800;
  }

  .save h3 {
    font-size: 16px;
  }

  .card {
    margin-right: 0;
    padding: 10px;
  }

  footer {
    margin-top: 0px;
    padding-top: 0px;
    padding: 10px;
    width: 100%;
  }

  .footer-divider {
    max-width: 100%;
  }

  .footer-title {
    margin-top: 10px;
  }
}
